body.dark{
    .postWrap{
        background: #141b22;
        .postLeft{
            .titleWrap{
                h2{
                    color: #fff;
                }
            }
            .contentWrap{
                border-bottom: 1px solid #ddd;
                p{
                    color: #c1c1c1;
                }
                .dateWrap{
                    span{
                        color: #c1c1c1;
                    }
                }
            }
        }
        .postRight{
            button{
                border: 1px solid #fff; color: #fff;
            }
            .buttonWrap{
                button{
                    border: none;
                }
            }
        }
    }
}

.postWrap{
    padding: 2rem; box-sizing: border-box;
    width: 50rem; 
    background: #fff; 
    border-radius: .5rem; 
    box-shadow: 0 4px 10px -4px rgba(0,0,0,0.2);
    .postLeft{
        .titleWrap{
            h2{
                padding-bottom: 1rem; 
                border-bottom: 1px solid #ddd;
                line-height: 3rem; 
                font-size: 2.2rem; font-weight: normal; color: #141b22; 
            }
        }
        .contentWrap{
            border-bottom: 1px solid #ddd;
            p{
                padding-top: 1.5rem; 
                min-height: 15rem; 
                font-size: 1.6rem;
            }
            .dateWrap{
                margin-bottom: 1.5rem;
                display: flex; justify-content: flex-end;
                span{
                    &:nth-child(1){
                        margin-right: .5rem;
                    }
                    font-size: 1.4rem;
                }
            }
        }
    }
    .postRight{
        margin-top: 2rem;
        display: flex; justify-content: space-between; 
        button{
            display: inline-block; 
            width: 10rem; height: 4rem; 
            background: none;
            border-radius: .5rem; border: 1px solid #dee2e6;
            font-size: 1.4rem; 
            cursor: pointer; 
        }
        button.moBtn{
            display: none;
        }
        .buttonWrap{
            button{
                border: none;
                &:nth-child(1) , &:nth-child(2){
                    margin-right: 1rem;
                    background: crimson; 
                    color: #fff;
                }
                &:nth-child(3) , &:nth-child(4){
                    background: #1d9bf0; 
                    color: #fff; 
                }
            }
            button.moBtn{
                display: none;
            }
        }
    }
}

@media all and (max-width: 550px) {
    .postWrap{
        padding: 1.5rem; margin: 0 auto; box-sizing: border-box;
        width: 95%; 
        .postRight{
            margin-top: 1.5rem;
        }
    }
}

@media all and (max-width: 490px) {
    .postWrap{
        .postLeft{
            .titleWrap{
                h2{
                    line-height: 2.8rem;
                    font-size: 2rem; 
                }
            }
            .contentWrap{
                p{
                    font-size: 1.5rem;
                }
            }
        }
        .postRight{
            button{
                width: 4.5rem; height: 3rem; 
                font-size: 2.5rem; color: #141b22;
            }
            button.pcBtn{
                display: none;
            }
            button.moBtn{
                display: inline-block;
            }
            .buttonWrap{
                button.pcBtn{
                    display: none;
                }
                button.moBtn{
                    display: inline-block;
                }
            }
        }
    }
}