.postWrap{
    width: 50rem; padding: 2rem 2rem; 
    background: #fff; box-shadow: 0 4px 10px -4px rgba(0,0,0,0.2);
    border-radius: .5rem; box-sizing: border-box;
    .postLeft{
        .titleWrap{
            h2{
                padding-bottom: 1rem; border-bottom: 1px solid #ddd;
                font-size: 2.2rem; line-height: 3rem; color: #141b22; font-weight: normal;
            }
        }
        .contentWrap{
            border-bottom: 1px solid #ddd;
            p{
                min-height: 15rem; 
                padding-top: 1.5rem; font-size: 1.6rem;
            }
            .dateWrap{
                display: flex; justify-content: flex-end; margin-bottom: 1.5rem;
                span{
                    &:nth-child(1){
                        margin-right: .5rem;
                    }
                    font-size: 1.4rem;
                }
            }
        }
    }
    .postRight{
        display: flex; justify-content: space-between; margin-top: 2rem;
        button{
            display: inline-block; width: 10rem; height: 4rem; border-radius: .5rem;
            font-size: 1.4rem; cursor: pointer; background: none; border: 1px solid #dee2e6;
        }
        .buttonWrap{
            button{
                border: none;
                &:nth-child(1){
                    margin-right: 1rem;
                    background: #1d9bf0; color: #fff; 
                }
                &:nth-child(2){
                    background: crimson; color: #fff;
                }
            }
        }
    }
}

@media all and (max-width: 600px) {
    .postWrap{
        width: 95%; margin: 0 auto; box-sizing: border-box;
    }
}