@import './common/reset';

@font-face {
    font-family: 'ChosunGu';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunGu.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html{
    font-size: 10px;
}

body{
    font-family: 'ChosunGu'; font-size: 1rem; background: #eaeef6;
    box-sizing: border-box; 
}

textarea , input{
    font-family: 'ChosunGu';
}

input:focus{
    outline: none;
}

.container{
    display: flex; justify-content: center; align-items: center; flex-direction: column;
    min-height: calc(100vh - 12rem); 
}

@media all and (max-width: 1080px) {
    .container{
        min-height: calc(100vh - 11rem); 
    }
}