div{
    width: 15rem;
    display: flex; justify-content: flex-end;
    form{
        border: 1px solid #ddd;
        height: 3rem; background: #fafafa; border-radius: .5rem;
        input{
            background: #fafafa;
            width: 10rem;  text-indent: 1rem;
            line-height: 3rem; font-size: 1.5rem; color: #000; 
            border-radius: .5rem 0 0 .5rem;
            &:focus{
                outline: none;
            }
            &::placeholder{
                color: #000;
            }
        }
        button{
            font-size: 2.5rem; background: none;  color: #000;
            cursor: pointer;
        }
    }
}