.loadingWrap{
    position: fixed; top: 0; left: 0; width: 100vw; height: 100vh; background: #fff; z-index: 5000;
    .loader {
        position: absolute; top: 50%; left: 50%; transform: translate(-50% , -50%) rotate(0deg);
        border: 7px solid #f3f3f3; border-top: 7px solid #42b883; border-radius: 50%;
        width: 8rem;
        height: 8rem;
        animation: spin 2s linear infinite;
    }
}


@keyframes spin {
    0% { transform:  translate(-50% , -50%) rotate(0deg); }
    100% { transform:  translate(-50% , -50%) rotate(360deg); }
}