body.dark{
    .weatherItem{
        background: #141b22;
        .timeWrap{
            .timeInfo{
                h3{
                    color: #fff;
                    span{
                        color: #ddd;
                    }
                }
                span{
                    color: #ddd;
                }
                .locationInfo{
                    span{
                        color: #ddd;
                    }
                }
            }
            .weatherWrap{
                span{
                    color: #fff;
                }
            }
        }
        .etcWrap{
            .buttons{
                button{
                    color: #ddd; 
                    &:hover{
                        color: #1d9bf0;
                    }
                }
            }
            .quote{
                color: #ddd;
                &User{
                    color: #ddd;
                }
            }
        }
    }
}

.weatherItem{
    padding: 2rem; margin-bottom: 2rem; box-sizing: border-box;
    display: flex; justify-content: space-between;
    width: 50rem; height: 12rem;
    background: #fefefe; 
    border-radius: .5rem; 
    box-shadow: 0 4px 10px -4px rgba(0,0,0,0.2); 
    .timeWrap{
        display: flex;
        .timeInfo{
            margin-left: 1rem;
            h3{
                margin-bottom: 1rem;
                font-size: 2.5rem; font-weight: normal; color: #141b22;
                span{
                    font-size: 1.6rem;
                }
            }
            span{
                font-size: 1.4rem; color: #141b22;
            }
            .locationInfo{
                margin-top: 1rem;
                span{
                    font-size: 2rem; color: #141b22;
                }
            }
        }
        .weatherWrap{
            position: relative; 
            width: 11rem;
            img{
                position: absolute; top: 0rem; left: -1rem;
            }
            span{
                position: absolute; right: 1rem; top: .3rem;
                display: block;
                letter-spacing: -.2rem;
                font-size: 2rem; color: #141b22;
            }
        }
    }
    .etcWrap{
        .buttons{
            text-align: right;
            button{
                margin: 0 .4rem;
                background: none; 
                font-size: 3rem; color: #141b22; 
                cursor: pointer; transition: all .5s;
                &:hover{
                    color: #1d9bf0;
                }
                &:nth-child(4){
                    margin-right: 0;
                }
            }
        }
        .quote{
            margin-top: 1rem; 
            text-align: right;
            font-size: 1.4rem;
            &User{
                margin-bottom: 1rem;
                font-size: 1.6rem; color: #141b22;
            }
        }
    }
}


@media all and (max-width: 550px) {
    .weatherItem{
        margin: 0 auto 1rem;
        width: 95%; 
    }
}

@media all and (max-width: 490px) {
    .weatherItem{
        margin: 0 auto 1rem; 
        display: block;
        width: 95%; height: 11.5rem;
        .timeWrap{
            padding-bottom: 1rem;
            .timeInfo{
                margin-left: 3rem;
                .timeDetail{
                    display: flex; align-items: center;
                    h3{
                        margin-right: 1.3rem; margin-bottom: 0;
                        font-size: 1.8em;
                        span{
                            font-size: 1.6rem;
                        }
                    }
                    span{
                        margin-left: 0;
                        font-size: 1.4rem; color: #141b22;
                    }
                }
                .locationInfo{
                    margin-top: .5rem;
                    span{
                        margin-left: 0;
                        font-size: 1.8rem; color: #141b22;
                    }
                }
            }
            .weatherWrap{
                width: 8rem;
                img{
                    top: -2rem; left: -1rem;
                    width: 8rem; 
                }
                span{
                    position: absolute; right: -1rem; top: 0rem;
                    font-size: 1.8rem;
                }
            }
        }
        .etcWrap{
            padding: .5rem 0;
            display: flex; justify-content: space-between;
            border-top: 1px solid #ddd;
            .buttons{
                order: 2;
                button{
                    margin: 0 .5rem;
                    font-size: 2.7rem; 
                }
            }
            .quote{
                order: 1;
                &User{
                    position: relative; top: -.3rem;
                    margin-bottom: 0;
                }
                &Word{
                    display: none;
                }
            }
        }
    }
}
