div{
    margin: 0 0 2.5rem; width: 100%;
    display: flex; justify-content: flex-end;
    form{
        height: 3rem; background: #fff; border-radius: .5rem;
        input{
            width: 20rem;  text-indent: 1rem;
            line-height: 3rem; font-size: 1.5rem; color: #000; 
            border-radius: .5rem 0 0 .5rem;
            &:focus{
                outline: none;
            }
            &::placeholder{
                color: #000;
            }
        }
        button{
            padding-right: 1rem;
            font-size: 2rem; background: none;  color: #000;
        }
    }
}