div{
    @-webkit-keyframes move{
        from{-webkit-mask-position:0 top;mask-position:0 top}
        to{-webkit-mask-position:-150rem top;mask-position:-150rem top}
    }
    @keyframes move{
        from{-webkit-mask-position:0 top;mask-position:0 top}
        to{-webkit-mask-position:-150rem top;mask-position:-150rem top}
    }
    .wave{
        height: 5rem;
        -webkit-mask-image: url('@/assets/images/wave_mask.svg'); -webkit-mask-size: 150rem auto; -webkit-mask-position: left top; -webkit-mask-repeat: repeat-x;
        mask-image: url('@/assets/images/wave_mask.svg'); mask-size: 150rem auto; mask-position: left top; mask-repeat: repeat-x;
        animation: move 10s linear infinite; -webkit-animation: move 10s linear infinite;
    }
    .wave-bg{
        background: #bceef8;
    }
    footer{
        text-align: center;  background: #bceef8;
        .footerWrap{
            height: 7rem;
            h2{
                font-size: 1.8rem; color: #000;
            }
            a{
                img{
                    margin-top: .5rem;
                    width: 3.2rem; height: 3.2rem;
                }
            }
        }
    }
}

@media all and (max-width: 1080px) {
    div{
        .wave{
            height: 3rem;
        }
        footer{
            .footerWrap{
                padding: .5rem 0;
                h2{
                    font-size: 1.6rem;
                }
                a{
                    img{
                        width: 3rem; height: 3rem;
                    }
                }
            }
        }
        .wave{-webkit-mask-size: 50rem auto;}
    }
}