body.dark{
    .container{
        background: #222;
        h1{
            color: #f2f3f5;
        }
        p{
            color: #f2f3f5;
        }
        .backBtn{
            background: #f2f3f5; color: #222;
        }
    }
}

.container{
    display: flex; justify-content: center; align-items: center; flex-direction: column;
    min-height: 100vh; width: 100%; 
    background: #fafafa;
    h1{
        font-size: 3rem; font-weight: normal; color: #222;
    }
    p{
        margin-top: 2rem;
        font-size: 2rem; color: #222;
    }
    .backBtn{
        margin-top: 2rem;
        display: flex; justify-content: center; align-items: center; 
        width: 5.5rem; height: 5.5rem;
        background: #222; border-radius: 50%;
        font-size: 2.5rem; color: #f2f3f5;
        cursor: pointer;
    }
}
