.container{
    display: flex; justify-content: center; align-items: center; flex-direction: column;
    min-height: calc(100vh - 14rem); color: #000;
    h1{
        font-size: 3rem;
    }
    p{
        margin-top: 2rem;
        font-size: 2rem; 
    }
}
