ul{
    text-align: center; font-size: 0; border-radius: .5rem; border-radius: .5rem;
    li{
        display: inline-block;
        a{
            display: block; padding: 1rem; border: 1px solid #dee2e6; background: #fff;
            font-size: 1.6rem; cursor: pointer; margin-left: -1px; 
            &:hover{
                background: #42b883; color: #fff; 
            }
            &.active{
                background: #42b883; color: #fff; 
            }
        }
    }
}