body.dark{
    .pagiWrap{
        background: #141b22;
        li{
            input{
                color: #fff;
                &::placeholder{
                    color: #fff;
                }
            }
            span{
                color: #fff;
            }
            button{
                color: #fff;
                &.active{
                    color: #777; 
                }
            }
        }
    }
}

.pagiWrap{
    display: flex; align-items: center; justify-content: center;
    width: 50rem; height: 5rem; 
    background: #fefefe;
    border-radius: .5rem;
    li{
        display: flex; align-items: center;
        margin: 0 1rem;
        input{
            display: inline-block; vertical-align: top;
            background: none; 
            width: 1.5rem;
            font-size: 1.8rem; color: #222; 
            &::placeholder{
                color: #222;
            }
        }
        span{
            &:nth-of-type(1){
                margin-right: .7rem;
            }
            font-size: 1.8rem; color: #222;
        }
        button{
            background: none; 
            line-height: 5rem;
            color: #222; 
            cursor: pointer; 
            &.active{
                color: #999; 
                cursor: default;
            }
        }
    }
}

@media all and (max-width: 550px) {
    .pagiWrap{
        margin: 0 auto; 
        width: 95%; height: 4rem;
        li{
            button{
                line-height: 4rem;
            }
        }
    }
}
